In [ ]:
import pandas as pd
import numpy as np
import sklearn
missing_values = ["n/a", "na", "--", " ", "  ", "   ", "    "]
df = pd.read_csv('/content/creditcard.csv', na_values = missing_values)
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
x = df.iloc[:, 1:len(list(df))-1]
print(x)
y = df.iloc[:, len(list(df))-1:len(list(df))]
print(y)

#print(df.isnull().sum())
print (df.isnull().values.any())

               V1         V2        V3  ...       V27       V28  Amount
0       -1.359807  -0.072781  2.536347  ...  0.133558 -0.021053  149.62
1        1.191857   0.266151  0.166480  ... -0.008983  0.014724    2.69
2       -1.358354  -1.340163  1.773209  ... -0.055353 -0.059752  378.66
3       -0.966272  -0.185226  1.792993  ...  0.062723  0.061458  123.50
4       -1.158233   0.877737  1.548718  ...  0.219422  0.215153   69.99
...           ...        ...       ...  ...       ...       ...     ...
284802 -11.881118  10.071785 -9.834783  ...  0.943651  0.823731    0.77
284803  -0.732789  -0.055080  2.035030  ...  0.068472 -0.053527   24.79
284804   1.919565  -0.301254 -3.249640  ...  0.004455 -0.026561   67.88
284805  -0.240440   0.530483  0.702510  ...  0.108821  0.104533   10.00
284806  -0.533413  -0.189733  0.703337  ... -0.002415  0.013649  217.00

[284807 rows x 29 columns]
        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284807 rows x 1 columns]
False

In [ ]:
#median_totalcharges = df['TotalCharges'].median()
#df['TotalCharges'].fillna(median_totalcharges, inplace=True)
#print(df.isnull().sum())
#import sklearn
#from sklearn.utils import shuffle
#df = shuffle(df).reset_index(drop=True)
#df.head(10)

In [ ]:
for i in range(28):
  col_num = i+1
  col = "V" + str(col_num)
  cnt=0
  for row in df[col]:
      try:
          float(row)
          #df.loc[cnt, 'OWN_OCCUPIED']=np.nan
      except ValueError:
          print(str(row))
      cnt+=1

In [ ]:
#df['tenure'] = pd.qcut(df['tenure'], 10, labels=False)
#df['MonthlyCharges'] = pd.qcut(df['MonthlyCharges'], 10, labels=False)
#df['TotalCharges'] = pd.qcut(df['TotalCharges'], 100, labels=False)
#df.head()

#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler() 

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 

x_scaled = scaler.fit_transform(x)
x = pd.DataFrame(data=x_scaled, columns=["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10", "V11", "V12", "V13", "V14", "V15", "V16", "V17", "V18", "V19", "V20", "V21", "V22", "V23", "V24", "V25", "V26", "V27", "V28", "Amount"])

from sklearn.preprocessing import KBinsDiscretizer
enc = KBinsDiscretizer(n_bins=20, encode='ordinal')
#V1_np = np.array(x)
#V1 = V1_np.reshape(-1, 1)
x_binned = enc.fit_transform(x)
print(x_binned)

[[ 3.  8. 19. ... 15.  7. 17.]
 [13. 11.  9. ...  9. 10.  3.]
 [ 3.  2. 18. ...  5.  4. 19.]
 ...
 [16.  6.  0. ... 10.  7. 14.]
 [ 9. 13. 13. ... 15. 16.  7.]
 [ 7.  7. 13. ...  9. 10. 18.]]

In [ ]:
print(type(x_binned))
x = pd.DataFrame(x_binned, columns=["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10", "V11", "V12", "V13", "V14", "V15", "V16", "V17", "V18", "V19", "V20", "V21", "V22", "V23", "V24", "V25", "V26", "V27", "V28", "Amount"])
#print(x.shape)
#print(y.shape)

<class 'numpy.ndarray'>

In [ ]:
df = pd.concat([x,y], axis=1)
df.rename(columns = {'Class':'Target'}, inplace = True) 
df.head()

     V1    V2    V3    V4    V5    V6  ...   V25   V26   V27   V28  Amount  Target
0   3.0   8.0  19.0  17.0   7.0  15.0  ...  11.0   7.0  15.0   7.0    17.0       0
1  13.0  11.0   9.0  13.0  10.0  11.0  ...  12.0  13.0   9.0  10.0     3.0       0
2   3.0   2.0  18.0  12.0   6.0  18.0  ...   4.0   8.0   5.0   4.0    19.0       0
3   4.0   7.0  18.0   4.0  10.0  17.0  ...  18.0   6.0  13.0  14.0    16.0       0
4   3.0  15.0  17.0  12.0   7.0  13.0  ...   6.0  16.0  17.0  18.0    14.0       0

[5 rows x 30 columns]

In [ ]:
df.to_csv ('/content/creditcard_preprocessed.csv', index = False, header=True)

# New Section