In [ ]:
import pandas as pd
import numpy as np
import sklearn
missing_values = ["n/a", "na", "--", " ", "  ", "   ", "    "]
df = pd.read_csv('/content/WA_Fn-UseC_-Telco-Customer-Churn.csv', na_values = missing_values)
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [ ]:
df.drop(['customerID'], axis=1, inplace=True)

In [ ]:
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95       1889.50    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.Churn.replace(('Yes', 'No'), (1, 0), inplace=True)

In [ ]:
print(df.isnull().sum())

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [ ]:
df['TotalCharges'].median()

1397.475

In [ ]:
df['TotalCharges'].mean()

2283.3004408418697

In [ ]:
mean_totalcharges = df['TotalCharges'].mean()
df['TotalCharges'].fillna(mean_totalcharges, inplace=True)

In [ ]:
print(df.isnull().sum())

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 

monthly_charges = (np.array(df['MonthlyCharges'])).reshape(-1, 1)

In [ ]:
monthly_charges.shape

(7043, 1)

In [ ]:
monthly_charges = scaler.fit_transform(monthly_charges)
monthly_charges = pd.DataFrame(monthly_charges)
monthly_charges.head()

          0
0  0.115423
1  0.385075
2  0.354229
3  0.239303
4  0.521891

In [ ]:
df['MonthlyCharges'] = monthly_charges
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...       0.115423         29.85     0
1    Male              0      No  ...       0.385075       1889.50     0
2    Male              0      No  ...       0.354229        108.15     1
3    Male              0      No  ...       0.239303       1840.75     0
4  Female              0      No  ...       0.521891        151.65     1

[5 rows x 20 columns]

In [ ]:
total_charges = (np.array(df['TotalCharges'])).reshape(-1, 1)
total_charges = scaler.fit_transform(total_charges)
total_charges = pd.DataFrame(total_charges)
df['TotalCharges'] = total_charges
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...       0.115423      0.001275     0
1    Male              0      No  ...       0.385075      0.215867     0
2    Male              0      No  ...       0.354229      0.010310     1
3    Male              0      No  ...       0.239303      0.210241     0
4  Female              0      No  ...       0.521891      0.015330     1

[5 rows x 20 columns]

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
enc = KBinsDiscretizer(n_bins=20, encode='ordinal')
tenure = (np.array(df['tenure'])).reshape(-1, 1)
tenure = enc.fit_transform(tenure)
tenure = pd.DataFrame(tenure)
df['tenure'] = tenure
df.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...       0.115423      0.001275     0
1    Male              0      No  ...       0.385075      0.215867     0
2    Male              0      No  ...       0.354229      0.010310     1
3    Male              0      No  ...       0.239303      0.210241     0
4  Female              0      No  ...       0.521891      0.015330     1

[5 rows x 20 columns]

In [ ]:
TotalCharges = (np.array(df['TotalCharges'])).reshape(-1, 1)
TotalCharges = enc.fit_transform(TotalCharges)
TotalCharges = pd.DataFrame(TotalCharges)
df['TotalCharges'] = TotalCharges
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...       0.115423           0.0     0
1    Male              0      No  ...       0.385075          11.0     0
2    Male              0      No  ...       0.354229           2.0     1
3    Male              0      No  ...       0.239303          11.0     0
4  Female              0      No  ...       0.521891           2.0     1

[5 rows x 20 columns]

In [ ]:
MonthlyCharges = (np.array(df['MonthlyCharges'])).reshape(-1, 1)
MonthlyCharges = enc.fit_transform(MonthlyCharges)
MonthlyCharges = pd.DataFrame(MonthlyCharges)
df['MonthlyCharges'] = MonthlyCharges

df.rename(columns = {'Churn':'Target'}, inplace = True) 
df.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Target
0  Female              0     Yes  ...            4.0           0.0      0
1    Male              0      No  ...            7.0          11.0      0
2    Male              0      No  ...            7.0           2.0      1
3    Male              0      No  ...            5.0          11.0      0
4  Female              0      No  ...           10.0           2.0      1

[5 rows x 20 columns]

In [ ]:
df.to_csv ('/content/telco_preprocessed.csv', index = False, header=True)